/* STYLING */

/* background photo */
html {
  background: url("https://c1.wallpaperflare.com/preview/781/482/372/paper-scrapbook-texture-decorative.jpg");
}
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* APP */
.cards {
  display: inline-flex;
  align-items: stretch;
  align-content: stretch;
  margin-top: 5%;
}
.card {
  border: 2px dotted red;
  width: 400px;
  min-width: 300px;
  height: 300px;
}

/* TITLE */
.Title {
  font-family: "Lora", serif;
  color: black;
}
.header{
  display: flex;
  justify-content: center;
  justify-content: space-around;

}
.plant-link {
  font-family: "Lora", serif;
  font-size: 2em;
  color: beige;
  display: inline-flex;
  margin: 5%;
}

/* ALL POSTS */

.name {
  font-family: "Lora", serif;
  color: beige;
}
.description {
  font-family: "Lora", serif;
  color: rgb(16, 95, 16);
}
.image {
  width: 300px;
}

/* SINGLE POSTS */
.p-name {
  font-family: "Lora", serif;
  color: rgb(16, 95, 16);
  margin-top: 5%;
  margin-left: 2%;
}
.card-description {
  border: 2px dotted red;
  width: 600px;
  min-width: 150px;
  height: 300px;
  margin-left: 50%;
}
.p-description {
  font-family: "Lora", serif;
  font-size: 1.5em;
  color: beige;
}
.p-image {
  width: 30em;
}

/* NEW POSTS */

input[type="text"] {
  font-size: 1.5em;
  font-family: "Lora", serif;
}
textarea[type="text"] {
  font-size: 1.5em;
  font-family: "Lora", serif;
}
#name {
  margin-top: 5%;
  width: 30em;
  height: 2em;
  border-radius: 0em;
  border: 2px solid green;
}
#description {
  width: 30em;
  height: 10em;
  border-radius: 0em;
  border: 2px solid green;
}
#image {
  width: 30em;
  height: 2em;
  border-radius: 0em;
  border: 2px solid green;
}
#new-button {
  width: 10em;
  font-family: "Lora", serif;
  font-size: 1em;
  color: green;
  background-color: beige;
  border-radius: 0em;
  border: 2px solid green;
  display: flex;
  justify-content: center;
}
